<settings>
	<activeProfiles>
		<activeProfile>securecentral</activeProfile>
	</activeProfiles>
	<profiles>
		<profile>
			<id>securecentral</id>
			<repositories>
				<repository>
					<id>central</id>
					<url>https://repo1.maven.org/maven2</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>s3</id>
					<url>s3://quorum-dependency-artifacts</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>private</id>
					<url>https://s3.console.aws.amazon.com/s3/buckets/quorum-dependency-artifacts/release</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>https://repo1.maven.org/maven2</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>