<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Please Reset Your Password.</title>
</head>

<body>

<div style="width:800px;margin:0 auto;">
	<div style="width:100%;background:#0056b3;height:70px;">
    	<h1 style="font-family:Arial, Helvetica, sans-serif;font-size:20px;font-weight:normal;color:#fff;text-align:center;padding:25px 0;">Reset Password</h1>
    </div>
    <div style="border:1px solid #0056b3;padding:30px 15px;font-family:Arial, Helvetica, sans-serif;">
    	<h1 style="font-size:18px;color:#6d6e71;text-align:center;"><img src="https://s3.amazonaws.com/quorum.works/assets/img/quorum-logo.png" /></h1>
        <p style="font-size:13px;text-align:center;font-weight:bold;">Dear ${firstName},</p>
        <p style="font-size:13px;text-align:center;">Please click the link below to reset your password.</p>
        <div style="color:#fff;background-color:#6770ff;width:300px;padding:6px;border-radius:6px;text-align:center;margin:0 auto;">
        	<a href="${reminderUrl}" target="_blank" style="color:#ffffff; font-size:14px; font-weight:bold; background-color:#6770ff; padding:0 14px; display:inline-block; line-height:40px; text-align:center; text-decoration:none; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; border-radius:3px; ">Click Here to Reset Your Password!</a>
        </div>
        <p style="font-size:13px;text-align:center;">The QUORUM Support Team.</p>
    </div>
</div>
</body>
</html>
